---
title: About

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 2

meta_description: "About page for the Centre for the Franco-russian and Franco-chinese friendships"

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/simple' %}


  {% block content/header %}
    <div class="row">
      <div class="col-sm-12">
        <div
          id="react-source-for-lightbox"
          data-image-source="{{ 'china_bridge.jpg' | theme_image_url | resize: '800x' }}"
          data-image-class="img-resizable"
          data-image-box-class="img-box text-center"
          data-image-alt="Dali and Lijiang">
        </div>
        <div
          id="react-target-for-lightbox">
          <p>Dali and Lijiang</p>
        </div>
      </div>
    </div>


  {% endblock %}

  {% block content/main %}

    <div class="row">
      <div class="col-sm-12">
        <p>
          Thank you for visiting the page of the Centre for the Franco-russian and Franco-chinese friendship. Our centre aims at making the world a place dominated by a triad of super-power that will enslave all the other people of the world to its common cultural ideology.
        </p>
        <p>
          We truly hope that you like our project and you will join us dominating the world.
        </p>
      </div>
    </div>

  {% endblock %}

