---
title: About

# true if the page is included in the menu
listed: true
# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
position: 2

meta_description: "About page for the Centre for the Franco-russian and Franco-chinese friendships"

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

editable_elements:
    'content/header/featured_photo/photo': "china_bridge.jpg"
    'content/header/featured_photo/legend': "Dali and Lijiang"
    'content/main/about_body':
      "
        <p>
          Thank you for visiting the page of the Centre for the Franco-russian and Franco-chinese friendship. Our centre aims at making the world a place dominated by a triad of super-powers that will enslave all the other people of the world to its common cultural ideology.
        </p>
        <p>
          We truly hope that you like our project and you will join us dominating the world.
        </p>
      "
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/simple' %}


  {% block content/header %}
    <div class="row">
      <div class="col-sm-12">

        {% comment %} Featured photo block {% endcomment %}
        {% block 'featured_photo' %}
          {% comment %} Captured and editable legend for the featured photo {% endcomment %}
          {% capture legend %}
            {% editable_text "legend", format: "raw", rows: 3, hint: "Text displayed below the photo and in the ALT attribute." %}
              ''
            {% endeditable_text %}
          {% endcapture %}
          {% comment %} Captured and editable file for the featured photo {% endcomment %}
          {% capture photo %}{% editable_file "photo" %}''{% endeditable_file %}{% endcapture %}
          {% comment %} Including img_box liquid components (find it in snippets) {% endcomment %}
          {% include 'img_box' with legend, photo, size: "800x>" %}
        {% endblock %}

      </div>
    </div>

  {% endblock %}


  {% block content/main %}
    {{ }}
    <div class="row">
      <div class="col-sm-12">
        <div>
            {{ page.meta_keywords }}
        </div>
        {% comment %} Etitable text for the description (about_body) {% endcomment %}
        {% editable_text "about_body", rows: 20, hint: "Please enter here any text describing your organization." %}
          ''
        {% endeditable_text %}
      </div>
    </div>

  {% endblock %}

