---
title: Home
published: true
listed: true
handle: home
meta_description: "Home page of the website of the Centre for the Franco-russian and Franco-chinese friendships"
position: 0
editable_elements:
  'content/header/jumbotron_title': "Enforce peace by friendship"
---
{% extends 'layouts/simple' %}

{% block content/header %}

  {% capture jumbotron_title %}
    {% editable_text "jumbotron_title", format: "raw", rows: 1, priority: 1 %}
    {% endeditable_text %}
  {% endcapture %}


  <div class="row">
    <div class="xs-12">
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="xs-12">
              <h1>{{ page.editable_elements.content.header.jumbotron_title }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block content/main %}
  <div class="row">
    <div class="col-xs-12">


    </div>
  </div>

{% endblock %}
